<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>그려적어</string>
	<key>CFBundleName</key>
	<string>그려적어</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.graphics-design</string>
	<key>SUFeedURL</key>
	<string>https://gzuk-app.vercel.app/appcast.xml</string>
	<key>SUPublicEDKey</key>
	<string>DYABf1zSamXIGl9yXR5TeaNWKGaZ4JNd5GXAU9LX14E=</string>
	<key>SUEnableAutomaticChecks</key>
	<true/>
</dict>
</plist>
